# Node / JS
node_modules/
dist/
build/
.next/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
.myenv/
myenv/
.env
*.egg-info/

# Env & secrets
.env*
!.env.example

# OS/Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.pid
*.sock

# Misc
*.swp
/crafting_interpreters/
